    html, body {
        background: #555;
    	padding: 0;
		margin: 0;
		font-family: 'Maven Pro', sans-serif;
		font-size: 16px;
		height: 100%;
	}
 
	div.header {
		color: #fff;
		border: 1px solid transparent;
		font-weight: 500;
		display: block;
		margin: 0 auto;
		max-width: 850px;
		padding-left: 50px;		
	}
 
	div.header h1 {
		text-transform: uppercase;
		font-size: 80px;
		letter-spacing: .2em;
		margin: 0;
		font-weight: 500;
	}
	
	div.header h2 {
		font-size: 25px;
		font-weight: 500;
		letter-spacing: .1em;
		padding-left: 5px;
		margin: .5em 0 0;
        min-width: 1em;
	}	
	
	#map {
		display: block;
		margin: 1em auto;
		width: 900px;		
	}
	
	#map li {
		background: #fff;
		display: block;
		float: left;
		margin: 5px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;          
	}
	
	#map .sq3x3 { 
		width: 536px; 
		height: 536px;
	}
	
	#map .sq2x2 { 
		width: 354px; 
		height: 354px;
	}
	
	#map .sq2x1 { 
		width: 354px; 
		height: 172px;
	}
 
	#map .sq1x2 { 
		width: 172px; 
		height: 354px;
	}	
 
	#map .sq1x1 { 
		width: 172px; 
		height: 172px;
	}
	
	footer {
		color: #999;
		font-weight: 400;
		margin-top: -50px;
	}
	
	footer .info {
		display: block;
		margin: 1em auto;
		width: 850px;
	}
	
	.title {
		text-transform: uppercase;
		position: relative;
		color: white;
		background: #B3383D;
		font-weight: 900;
		padding: 10px 25px 15px 10px;
		display: block;
		width: 170px;
		margin-left: 22px;
		top: 190px;
	}
		
	footer .bigup {
		background: black;
		color: #999;
		font-weight: 900;
		margin-top: 2em;
	}		
	
	footer .bigup p {
		display: block;
		margin: 1em auto 0;
		max-width: 850px;
		padding: 5px 0;
	}
	
	footer .bigup a {
		text-decoration: none;
		color: #999;
	}
 
	footer .bigup a:hover {
		text-decoration: underline;
		color: #bbb;
	}
	
	.auth {
		float: right;
		font-size: 60%;
	}
	
	.rotate {
		transform: rotate(-90deg);
		transform-origin: 0% 50%;
		/* Safari */
		-webkit-transform: rotate(-90deg);
		-webkit-transform-origin: 0% 50%;
		/* Firefox */
		-moz-transform: rotate(-90deg);
		-moz-transform-origin: 0% 50%;
		/* IE */
		-ms-transform: rotate(-90deg);
		-ms-transform-origin: 0% 50%;
		/* Opera */
		-o-transform: rotate(-90deg);
		-o-transform-origin: 0% 50%;
		/* Internet Explorer */
		filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	}
	
	.clear {
		clear: both;
	}
	
	.usage {
		float: right;
		margin-left: 25px;
	}
	
	.usage .head {
		font-weight: 900;
	}
	
	.usage .box {
		background: #999;
		color: #555;
		float: left;
		margin: 10px 25px 0 0; 
	}
	
	.usage .box span {
		padding: 3px;
	}	
	
	.usage .box span:first-child {
		font-weight: 900;
	}	
	
	.usage .box.one {
		height: 60px;
		width: 60px
	}
	
	.usage .box.one span:first-child {
		font-size: 200%;
	}
	
	.usage .box.two {
		height: 40px;
		width: 40px
 
	}
	
	.usage .box.two span:first-child {
		font-size: 120%;
	}
		
	.usage .box.three {
		height: 20px;
		width: 40px;
	}
	
	.usage .box.seven {
		height: 20px;
		width: 20px;
	}
	
	.usage .box.seven span:first-child {
		font-size: 90%;
	}
	
	.usage .box.seven span:last-child, .usage .box.three span:last-child {
		color: #999;
		font-size: 80%;
		line-height: 20px;
	}
	
	*[contenteditable=true]:focus {
		color: white;
		background: #B3383D;
		outline: none;		
	}
    
    #saveLoad {
    	font-family: 'Maven Pro', sans-serif;
        display: none;    
    }

    textarea {
        background:none repeat scroll 0 0 transparent;
    	border:none;
    	color:#999;
    	padding: 3px;
    	width:278px;
    	font-style: italic;
    	width: 100%;
    	height: 100%;
    	min-height: 150px;
    	overflow-x: hidden;
    }

    .data { font-family: monospace !important; font-size: 10px !important; 
    overflow: hidden; text-align: justify; font-style: normal; color: #000; }
    
    #tab {
        background: #B3383D;
        font-family: 'Maven Pro', sans-serif;
        font-weight: 500;
        padding: .5em;
        position: fixed;
        right: 2em;
        top: 0;
        color: #fff;
        cursor: pointer;
    }
    
/*
* jQuery UI CSS Framework
* Copyright (c) 2010 AUTHORS.txt (http://jqueryui.com/about)
* Dual licensed under the MIT (MIT-LICENSE.txt) and GPL (GPL-LICENSE.txt) licenses.
*/

/* Layout helpers
----------------------------------*/
.ui-helper-hidden { display: none; }
.ui-helper-hidden-accessible { position: absolute; left: -99999999px; }
.ui-helper-reset { margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; }
.ui-helper-clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.ui-helper-clearfix { display: inline-block; }
/* required comment for clearfix to work in Opera \*/
* html .ui-helper-clearfix { height:1%; }
.ui-helper-clearfix { display:block; }
/* end clearfix */
.ui-helper-zfix { width: 100%; height: 100%; top: 0; left: 0; position: absolute; opacity: 0; filter:Alpha(Opacity=0); }


/* Interaction Cues
----------------------------------*/
.ui-state-disabled { cursor: default !important; }


/* Icons
----------------------------------*/

/* states and images */
.ui-icon { display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; }


/* Misc visuals
----------------------------------*/

/* Overlays */
.ui-widget-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }


/*
* jQuery UI CSS Framework
* Copyright (c) 2010 AUTHORS.txt (http://jqueryui.com/about)
* Dual licensed under the MIT (MIT-LICENSE.txt) and GPL (GPL-LICENSE.txt) licenses.
* To view and modify this theme, visit http://jqueryui.com/themeroller/?ffDefault=Times%20New%20Roman&fwDefault=normal&fsDefault=16px&cornerRadius=0&bgColorHeader=444444&bgTextureHeader=03_highlight_soft.png&bgImgOpacityHeader=0&borderColorHeader=7c7c7c&fcHeader=ffffff&iconColorHeader=ffffff&bgColorContent=444444&bgTextureContent=01_flat.png&bgImgOpacityContent=0&borderColorContent=7c7c7c&fcContent=ffffff&iconColorContent=ffffff&bgColorDefault=444444&bgTextureDefault=02_glass.png&bgImgOpacityDefault=0&borderColorDefault=7c7c7c&fcDefault=ffffff&iconColorDefault=ffffff&bgColorHover=444444&bgTextureHover=02_glass.png&bgImgOpacityHover=0&borderColorHover=7c7c7c&fcHover=ffffff&iconColorHover=ffffff&bgColorActive=444444&bgTextureActive=02_glass.png&bgImgOpacityActive=0&borderColorActive=7c7c7c&fcActive=ffffff&iconColorActive=ffffff&bgColorHighlight=444444&bgTextureHighlight=02_glass.png&bgImgOpacityHighlight=0&borderColorHighlight=c7c7c7&fcHighlight=ffffff&iconColorHighlight=ffffff&bgColorError=444444&bgTextureError=05_inset_soft.png&bgImgOpacityError=0&borderColorError=7c7c7c&fcError=ffffff&iconColorError=cd0a0a&bgColorOverlay=444444&bgTextureOverlay=01_flat.png&bgImgOpacityOverlay=0&opacityOverlay=90&bgColorShadow=000000&bgTextureShadow=01_flat.png&bgImgOpacityShadow=0&opacityShadow=30&thicknessShadow=11px&offsetTopShadow=-11px&offsetLeftShadow=-11px&cornerRadiusShadow=11px
*/


/* Component containers
----------------------------------*/
.ui-widget { font-family: Times New Roman; font-size: 16px; }
.ui-widget .ui-widget { font-size: 1em; }
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font-family: Times New Roman; font-size: 1em; }
.ui-widget-content { border: 1px solid #7c7c7c; background: #444444 50% 50% repeat-x; color: #ffffff; }
.ui-widget-content a { color: #ffffff; }
.ui-widget-header { background: #B3383D; color: #ffffff; font-weight: bold; }
.ui-widget-header a { color: #ffffff; }

/* Interaction states
----------------------------------*/
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { border: none; background: #444444; font-weight: normal; color: #ffffff; }
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited { color: #ffffff; text-decoration: none; }
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus { border: none; background: #444444; font-weight: normal; color: #ffffff; }
.ui-state-hover a, .ui-state-hover a:hover { color: #ffffff; text-decoration: none; }
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active { border: none; background: #444444; font-weight: normal; color: #ffffff; }
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited { color: #ffffff; text-decoration: none; }
.ui-widget :active { outline: none; }

/* Interaction Cues
----------------------------------*/
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight  {border: none; background: #444444; color: #ffffff; }
.ui-state-highlight a, .ui-widget-content .ui-state-highlight a,.ui-widget-header .ui-state-highlight a { color: #ffffff; }
.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error {border: none; background: #444444; color: #ffffff; }
.ui-state-error a, .ui-widget-content .ui-state-error a, .ui-widget-header .ui-state-error a { color: #ffffff; }
.ui-state-error-text, .ui-widget-content .ui-state-error-text, .ui-widget-header .ui-state-error-text { color: #ffffff; }
.ui-priority-primary, .ui-widget-content .ui-priority-primary, .ui-widget-header .ui-priority-primary { font-weight: bold; }
.ui-priority-secondary, .ui-widget-content .ui-priority-secondary,  .ui-widget-header .ui-priority-secondary { opacity: .7; filter:Alpha(Opacity=70); font-weight: normal; }
.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled { opacity: .35; filter:Alpha(Opacity=35); background-image: none; }

/* Icons
----------------------------------*/

/* states and images */
.ui-icon { width: 16px; height: 16px; }

/* Misc visuals
----------------------------------*/

/* Corner radius */
.ui-corner-tl { -moz-border-radius-topleft: 0; -webkit-border-top-left-radius: 0; border-top-left-radius: 0; }
.ui-corner-tr { -moz-border-radius-topright: 0; -webkit-border-top-right-radius: 0; border-top-right-radius: 0; }
.ui-corner-bl { -moz-border-radius-bottomleft: 0; -webkit-border-bottom-left-radius: 0; border-bottom-left-radius: 0; }
.ui-corner-br { -moz-border-radius-bottomright: 0; -webkit-border-bottom-right-radius: 0; border-bottom-right-radius: 0; }
.ui-corner-top { -moz-border-radius-topleft: 0; -webkit-border-top-left-radius: 0; border-top-left-radius: 0; -moz-border-radius-topright: 0; -webkit-border-top-right-radius: 0; border-top-right-radius: 0; }
.ui-corner-bottom { -moz-border-radius-bottomleft: 0; -webkit-border-bottom-left-radius: 0; border-bottom-left-radius: 0; -moz-border-radius-bottomright: 0; -webkit-border-bottom-right-radius: 0; border-bottom-right-radius: 0; }
.ui-corner-right {  -moz-border-radius-topright: 0; -webkit-border-top-right-radius: 0; border-top-right-radius: 0; -moz-border-radius-bottomright: 0; -webkit-border-bottom-right-radius: 0; border-bottom-right-radius: 0; }
.ui-corner-left { -moz-border-radius-topleft: 0; -webkit-border-top-left-radius: 0; border-top-left-radius: 0; -moz-border-radius-bottomleft: 0; -webkit-border-bottom-left-radius: 0; border-bottom-left-radius: 0; }
.ui-corner-all { -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; }

/* Overlays */
.ui-widget-overlay { background: #444444; opacity: .90;filter:Alpha(Opacity=90); }
.ui-widget-shadow { margin: -11px 0 0 -11px; padding: 11px; background: #000000; opacity: .30;filter:Alpha(Opacity=30); -moz-border-radius: 11px; -webkit-border-radius: 11px; border-radius: 11px; }/* Resizable
----------------------------------*/
.ui-resizable { position: relative;}
.ui-resizable-handle { position: absolute;font-size: 0.1px;z-index: 99999; display: block;}
.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle { display: none; }
.ui-resizable-n { cursor: n-resize; height: 7px; width: 100%; top: -5px; left: 0; }
.ui-resizable-s { cursor: s-resize; height: 7px; width: 100%; bottom: -5px; left: 0; }
.ui-resizable-e { cursor: e-resize; width: 7px; right: -5px; top: 0; height: 100%; }
.ui-resizable-w { cursor: w-resize; width: 7px; left: -5px; top: 0; height: 100%; }
.ui-resizable-se { cursor: se-resize; width: 12px; height: 12px; right: 1px; bottom: 1px; }
.ui-resizable-sw { cursor: sw-resize; width: 9px; height: 9px; left: -5px; bottom: -5px; }
.ui-resizable-nw { cursor: nw-resize; width: 9px; height: 9px; left: -5px; top: -5px; }
.ui-resizable-ne { cursor: ne-resize; width: 9px; height: 9px; right: -5px; top: -5px;}/* Accordion
----------------------------------*/
.ui-accordion .ui-accordion-header { cursor: pointer; position: relative; margin-top: 1px; zoom: 1; }
.ui-accordion .ui-accordion-li-fix { display: inline; }
.ui-accordion .ui-accordion-header-active { border-bottom: 0 !important; }
.ui-accordion .ui-accordion-header a { display: block; font-size: 1em; padding: .5em .5em .5em .7em; }
/* IE7-/Win - Fix extra vertical space in lists */
.ui-accordion a { zoom: 1; }
.ui-accordion-icons .ui-accordion-header a { padding-left: 2.2em; }
.ui-accordion .ui-accordion-header .ui-icon { position: absolute; left: .5em; top: 50%; margin-top: -8px; }
.ui-accordion .ui-accordion-content { padding: 1em 2.2em; border-top: 0; margin-top: -2px; position: relative; top: 1px; margin-bottom: 2px; overflow: auto; display: none; zoom: 1; }
.ui-accordion .ui-accordion-content-active { display: block; }/* Autocomplete
----------------------------------*/
.ui-autocomplete { position: absolute; cursor: default; }    
.ui-autocomplete-loading { background: white; }

/* workarounds */
* html .ui-autocomplete { width:1px; } /* without this, the menu expands to 100% in IE6 */

/* Menu
----------------------------------*/
.ui-menu {
	list-style:none;
	padding: 2px;
	margin: 0;
	display:block;
}
.ui-menu .ui-menu {
	margin-top: -3px;
}
.ui-menu .ui-menu-item {
	margin:0;
	padding: 0;
	zoom: 1;
	float: left;
	clear: left;
	width: 100%;
}
.ui-menu .ui-menu-item a {
	text-decoration:none;
	display:block;
	padding:.2em .4em;
	line-height:1.5;
	zoom:1;
}
.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
	font-weight: normal;
	margin: -1px;
}
/* Button
----------------------------------*/

.ui-button { display: inline-block; position: relative; padding: 0; margin-right: .1em; text-decoration: none !important; cursor: pointer; text-align: center; zoom: 1; overflow: visible; } /* the overflow property removes extra width in IE */
.ui-button-icon-only { width: 2.2em; } /* to make room for the icon, a width needs to be set here */
button.ui-button-icon-only { width: 2.4em; } /* button elements seem to need a little more width */
.ui-button-icons-only { width: 3.4em; } 
button.ui-button-icons-only { width: 3.7em; } 

/*button text element */
.ui-button .ui-button-text { display: block; line-height: 1.4;  }
.ui-button-text-only .ui-button-text { padding: .4em 1em; }
.ui-button-icon-only .ui-button-text, .ui-button-icons-only .ui-button-text { padding: .4em; text-indent: -9999999px; }
.ui-button-text-icon .ui-button-text, .ui-button-text-icons .ui-button-text { padding: .4em 1em .4em 2.1em; }
.ui-button-text-icons .ui-button-text { padding-left: 2.1em; padding-right: 2.1em; }
/* no icon support for input elements, provide padding by default */
input.ui-button { padding: .4em 1em; }

/*button icon element(s) */
.ui-button-text-icon .ui-button-icon-primary, .ui-button-text-icons .ui-button-icon-primary, .ui-button-icons-only .ui-button-icon-primary { left: .5em; }
.ui-button-text-icons .ui-button-icon-secondary, .ui-button-icons-only .ui-button-icon-secondary { right: .5em; }

/*button sets*/
.ui-buttonset { margin-right: 7px; }
.ui-buttonset .ui-button { margin-left: 0; margin-right: -.3em; }

/* workarounds */
button.ui-button::-moz-focus-inner { border: 0; padding: 0; } /* reset extra padding in Firefox */

/* Dialog
----------------------------------*/
.ui-dialog { position: absolute; padding: .2em; width: 300px; overflow: hidden; }
.ui-dialog .ui-dialog-titlebar { padding: .5em 1em .3em; position: relative;  }
.ui-dialog .ui-dialog-title { float: left; margin: .1em 16px .2em 0; } 
.ui-dialog .ui-dialog-titlebar-close { position: absolute; right: .3em; top: 50%; width: 19px; margin: -10px 0 0 0; padding: 1px; height: 18px; }
.ui-dialog .ui-dialog-titlebar-close span { display: block; margin: 1px; }
.ui-dialog .ui-dialog-titlebar-close:hover, .ui-dialog .ui-dialog-titlebar-close:focus { padding: 0; }
.ui-dialog .ui-dialog-content { border: 0; padding: .5em 1em; background: none; overflow: auto; zoom: 1; }
.ui-dialog .ui-dialog-buttonpane { text-align: left; border-width: 1px 0 0 0; background-image: none; margin: .5em 0 0 0; padding: .3em 1em .5em .4em; }
.ui-dialog .ui-dialog-buttonpane button { float: right; margin: .5em .4em .5em 0; cursor: pointer; padding: .2em .6em .3em .6em; line-height: 1.4em; width:auto; overflow:visible; }
.ui-dialog .ui-resizable-se { width: 14px; height: 14px; right: 3px; bottom: 3px; }
.ui-draggable .ui-dialog-titlebar { cursor: move; }

.ui-widget-header, .ui-button-text-only > * {
    font-family: 'Maven Pro', sans-serif;
    background: #B3383D;
    font-weight: 900;
}